<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <tr class="navbar-nav ml-auto">
          <td class="nav-item">
            <a class="nav-link" routerLink="/addtrain">Add Train</a>
          </td>
          <td class="nav-item">
            <a class="nav-link" routerLink="/removetrain">Remove Train</a>
          </td>
          <td class="nav-item">
            <a class="nav-link" routerLink="/viewbooking">View Booking Details</a>
          </td>
          <td class="nav-item">
            <a class="nav-link" routerLink="/viewpayment">View Payment Details</a>
          </td>
        </tr>
      </div>
    </div>
  </nav>
  