 <div class="register-container">
  <h2>Register</h2>
  <form class="register-form" (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required #emailInput="ngModel">
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error">Email is required.</div>
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required #usernameInput="ngModel">
      <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error">Username is required.</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel">
      <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error">Password is required.</div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required #confirmPasswordInput="ngModel">
      <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="error">Confirm Password is required.</div>
    </div>
    <div *ngIf="password && confirmPassword && password !== confirmPassword" class="error">Passwords do not match.</div>
    <button type="submit" class="btn" [disabled]="password !== confirmPassword || emailInput.invalid || usernameInput.invalid || passwordInput.invalid || confirmPasswordInput.invalid">Register</button>
  </form>
  <div *ngIf="!errorflag">
    <p class="text-success">{{ successmsg }} </p>
  </div>
</div>

