<div class="container">
  <div class="form-wrapper">
    <h1>Train Number Input</h1>
    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="trainNumber">Train Number:</label>
        <br><br>
        <input type="text" class="form-control" id="trainNumber" name="trainNumber" placeholder="Enter train number" [(ngModel)]="trainNumber">
      </div>
      <div class="form-group">
        <label for="date">Select Date:</label>
        <br><br>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="selectedDate">
      </div>
      <button type="submit" class="btn btn-primary">Remove Train</button>
    </form>
  </div>
</div>
