<app-header></app-header>
<app-navbar></app-navbar>
<!-- <app-register></app-register>
<app-loginuser></app-loginuser> -->

<!-- //register,login,home,adminlogin components are shown by the router-outlet -->
<br>
<br>
<br>

<!-- 
<router-outlet></router-outlet> -->

<!-- <app-adminnavbar></app-adminnavbar> -->
<router-outlet></router-outlet>


<!-- <app-addtrain></app-addtrain> -->
<!-- <app-cancelticket></app-cancelticket> -->
<!-- <app-deletetrain></app-deletetrain> -->
<!-- <app-passengerdetails></app-passengerdetails> -->

<app-footer></app-footer>


