<!DOCTYPE html>
<html lang="en">

<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Train Management</title>
   <link rel="stylesheet" href="styles.css"> -->
<!-- </head>  -->

<body>
  <!-- <h2>Admin Management</h2> -->
  <div class="container">
    
    <a class="card" routerLink="/addtrain">
      <h2>Add/Update Train</h2>
      <p>Add or update train details</p>
    </a>
    <a class="card"  routerLink="/addadmin">
      <h2>Add Admin</h2>
      <p>Add a new admin user</p>
    </a>
  </div>

  <div class="container">
    <a class="card" routerLink="/removetrain">
      <h2>Remove Train</h2>
      <p>Remove a train from the system</p>
    </a>
    <!-- <a class="card" routerLink="/view-booked-tickets">
      <h2>View Booked Tickets</h2>
      <p>View tickets that have been booked</p>
    </a> -->
  </div>
</body>

</html>

